{% extends "layout.html" %}

{% block body %}
<h3>About</h3>
<hr>
Welcome to my blog! I'm Kutluhan Aygüzel, a Computer Science and Engineering student at Sabancı University with a passion for making a difference in the world. As a leader in the RetroSU History Club and a project assistant on research projects, I've honed my communication and front-end development skills. Currently, I'm working on developing an interactive web page for the SU Rover project using Flask Python technology. As a Learning Assistant for the CS 201 course, I enjoy sharing my knowledge with fellow students. In my free time, I enjoy coding, fitness, and mobile app development. Through this blog, I hope to share my insights and experiences and connect with others in the field. Thank you for visiting!
<hr>
{% endblock body %}